@model IEnumerable<Prova.Models.Cabinet>

@{
    ViewData["Title"] = "Index";
}

<h1>Armários</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapsUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Compartments)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <iframe src="@Html.DisplayFor(modelItem => item.MapsUrl)" frameborder="0" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </td>
            <td>
                @if (item.Compartments is not null && item.Compartments.Count > 0) {
                    <ul>
                        @foreach (var compartment in item.Compartments) {
                            <li>
                                @string.Format("Número: {0}, Tamanho: {1}x{2}x{3}cm", compartment.Id, compartment.Height, compartment.Width, compartment.Depth)
                                @if (compartment.UserId is not null) {
                                    @string.Format("Usuário: {0}", compartment.UserId)
                                }
                            </li>
                        }
                    </ul>
                } else {
                    <p>Nenhum compartimento cadastrado</p>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
