@model Prova.Models.Compartment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Compartment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Depth)
        </dd>
        <dt class = "col-sm-2">
            @if (Model.User == null) {
                <span>
                    Livre
                </span>
            } else {
                <span>
                    Ocupado por:
                </span>
            }
        </dt>
        <dd class = "col-sm-10">
            @if (Model.User != null) {
                @Html.DisplayFor(model => Model.User.Name)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
